{% extends 'layouts/base.html' %}

{% block content %}

<h1>Tasks</h1>

{% for task in tasks %}
<div>
  {# esta es una tarea #}
  <h1>{% if task.done == False %} ⏰ {% else %} ✅ {% endif %} {{task.title}}</h1>

  {% if task.done == False %}
  <p>Tarea pendiente</p>
  {% else %}
  <p>Tarea realizada</p>
  {% endif %}
 
  <p>{{task.description}}</p>
  <p>Project: {{task.project.name}}</p>
  <form method="POST" action="{% url 'delete_task' task.id %}">
    {% csrf_token %}
    <button type="submit">Delete</button>
  </form>
  <form method="POST" action="{% url 'update_status' task.id %}">
    {% csrf_token %}
    <button type="submit">✅ Done</button>
  </form>
</div>
{% endfor %}


{% endblock %}