{% extends 'layouts/base.html' %}

{% block content %}



<h1>About</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga nisi optio dolor culpa cum saepe unde? Eius assumenda debitis aut enim nemo doloribus, non modi atque reiciendis voluptate, ea quasi aspernatur placeat officiis nihil sapiente, eaque velit rem quidem fugit id necessitatibus sint provident! Provident beatae nulla, accusantium voluptates minima mollitia eius illum in nobis! Voluptatibus officiis minima illum inventore molestiae impedit sunt fugiat iusto! Quaerat autem perferendis distinctio reprehenderit corrupti. Explicabo, unde quas? Rem quos recusandae veniam enim quo velit distinctio optio id voluptatem error. Animi, qui officia. Quam suscipit expedita iusto tempore sit molestiae corporis aliquam ea cum.</p>

<p>Website created by {{ username }}</p>

{% endblock %}